/*Éléments principaux de la page*/

body {
    font-family: raleway;
}

#bloc_page {
    width: auto; 
    height: auto;
    margin: 3%;
}

/*Header*/

#logo{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    border: 1px solid red;
}

nav {   
    display: flex;
    margin: 0px, 
    border: 1px solid blue;
    
} 

nav ul{
    margin: auto;
    list-style-type: none;
    border: 1px solid rgb(110, 110, 1);
    
}

nav li {
    display: inline-block;
    font-size: smaller;
    border: 1px solid black;
    
 }

 nav a{
     color: #0065FC;

 }

 


