/*Éléments principaux de la page*/

body {
    font-family: raleway;
}

#bloc_page {
    width: 95%;
    margin: auto;
}
    

/*Header*/


header{
    display: flex; /* pour les mettre sur la meme ligne*/
    justify-content: space-between; /* pour les mettre l'un à l'opposé de l'autre*/
}

nav {   
    display: inline-block; /* pour mettre la navigation en ligne et plus les uus les uns en dessous des autres*/
    align-items: space-between;/*pour espacer les éléments de la nav.*/
  
} 
ul{
    display: flex;
    padding: 0px;
    
    
}

nav li {
    display: inline-block;
    font-size: smaller;
    padding: 20px;
    margin: 5px;
    
}
    
a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 30px;
}

